<div class="segment">
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  <div class="ui basic segment">
    <div class="ui two fields">
      <div class="ui input">
        <input (keyup)='filterPlayer$.next($event.target.value)' type='text' id='filter' name='filter' placeholder='Filter players'
          data-test="playerList">
      </div>
    </div>
  </div>
  <div class="ui large form segment w70centered zonderWit">
    <div class="ui basic segment">
      <div class="ui cards">
        <app-player *ngFor='let localPlayer of players | playerFilter:filterPlayerName' [player]='localPlayer' (deletePlayer)='removePlayer($event)'
          data-test="player">
        </app-player>
      </div>
    </div>
  </div>
</div>