/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css";
.wit{
    color : white !important;
}
body {
    background-image: url("assets/images/bg.jpg");
}
#loginForm {
    top: 10em;
}
#loginForm2 {
    margin: 0.5em !important;
}
.w80centered{
    width: 70%;
    margin: 0 auto !important;
}
.w40centered{
    width: 40%;
    margin: 0 auto !important;
}
.w70centered{
    width: 80%;
    margin: 0 auto !important;
}
.logo {
    width: 20%;
    height: 20%;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-right: 5em;
}
.ui.container {
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
}
@media only screen and (max-width: 991px) {
    .logo {
        display: none;
    }
}
.verzetten {
    padding-left: 6% !important;
    padding-right: 6% !important;
}
.item {
    color: white !important;
}
.btnLoginFix {
    background-color: #2185d0 !important;
    border-radius: 10% !important;
    font-weight: 700 !important;
    margin-bottom: 2em !important;
}
.btnLoginFixContainer {
    padding-right: 1em !important;
}
.ui.secondary.pointing.menu {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15) !important;
}
.btnFixRegister {
    margin-top: 1em !important;
}
.zonderWit {
    background: none !important;
    border: 0px !important;
    box-shadow: none !important;
}
#detailFix {
    margin: auto!important;
    top: 10em !important;
}